/*- Mobile: 375px
- Desktop: 1440px*/
/*****************
Import Fonts 
*****************/
@import url('https://fonts.googleapis.com/css?family=Poppins:600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}
header {
    background-image: url(../images/bg-hero-mobile.svg);
    background-color: #EDFBFE;
    margin-top: 0;
    height: 100vh;
    width: 100%;
}
@media only screen and (min-width:769px) {
    header {
        background-image: url(../images/bg-hero-desktop.svg);
    }
}

/* ==================
Upper Navbar
================== */
header ul {
    display: flex;
    margin:  0 20px 20px 20px;
    justify-content: space-between;
    list-style: none;
}
header ul #logo img{
    width: 130px;
    padding: 6px;
    margin: 20px;
}
header ul button{
    margin: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 14px #A9A9A9;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

/* ==================
Intro
================== */
.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.intro h2 {
    margin: 20px 20px 5px 20px;
}
.intro p {
    margin: 10px 20px;
}
.intro button {
    margin: 30px 50px;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 30px;
    box-shadow: 0px 2px 14px #A9A9A9;;
    padding: 13px 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.intro img {
    width: 350px;
} 
/* For Large Screens */
@media only screen and (min-width:769px) {
    .intro {
        flex-direction: row;
        margin: 80px 30px;
        text-align: left;
    }
    .intro h2 {
        margin: 20px 20px 5px 20px;
        font-size: 35px;
    }
    .intro p {
        margin: 10px 20px;
        font-size: 20px;
    }
    .intro button {
        margin: 30px;
    }
    .intro img {
        width: 600px;
    } 
}

/* ==================
Cards
================== */
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 200vh; 
    margin: 40px 0;
  }
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.1);
}
.card img {
    max-width: 80%;
    margin: 10px 0 30px 0;
}
.card .text {
    padding: 20px 10px;
    text-align: center;
  }
.card .text h3 {
    margin-bottom: 20px;
}
.card .text p {
    font-size: 15px;
    color: hsl(208, 11%, 55%);
}
/* Large Screens */
@media only screen and (min-width:769px)  {
    .card {
        flex-direction: row;
        width: 70%;
        height: 250px;
    }
    .card img {
        max-width: 30%;
        padding: 30px;
    }
    .card .text {
        padding: 20px 70px;
        text-align: left;
    }
}
/* ==================
Get Started Box 
================== */
.get-started-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -80px;
    padding: 20px 5px 20px 5px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.1);
    background-color: #fff;
    position: relative;
}
.get-started-box h3 {
    font-size: 16px;
    font-weight: 500px;
}
.get-started-box button {
    margin: 20px;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 30px;
    box-shadow: 0px 2px 14px #A9A9A9;
    padding: 13px 20px;
    font-size: 12px;
}
/* Large Screens  */
@media only screen and (min-width:769px) {
    .get-started-box {
        width: 400px;
    } 
}
/* ==================
Footer
================== */
footer {
    display: flex;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding: 150px 0 50px 0;
    margin: 10px 0 0 0;
}
footer img.logo {
    width: 200px;
    padding-left: 20px;
}
footer .contact-info {
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: row;
}
footer .contact-info img {
    padding: 15px;
    max-width: 40px;
    max-height: 20px;
}
footer .contact-info p {
    text-align: left;
    padding: 15px;
}
footer ul {
    list-style: none;
}
footer .nav-links {
    padding: 30px 20px 20px 20px;
}
footer .nav-links li {
    padding: 6px;
}
footer .social-links {
    text-align: center;
    margin: 10px;
}
footer .social-links i {
    padding: 8px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 1em;
    width: 20px;
    height: 20px;
}
footer .copyright {
    text-align: center;
    font-size: 12px;
}

/* Large Screens */
@media only screen and (min-width:967px) {
    footer {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0 0 0;
    }
    footer > div {
        padding:  10px 150px 10px 150px;
    }
    footer img.logo {
        width: 190px;
        height: 30px;
    }
    footer .contact-info p {
        width: 240px;
        word-break: break-all;
    }
    footer ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 120px;
    }
    footer .nav-links {
        padding: 70px 0px 20px 0px;
    }
    footer .nav-links li {
        padding: 6px 20px;
    }
    footer .social-links {
        text-align: center;
        margin: 52px;
    }
    footer .copyright {
        font-size: 12px;
        margin-left: auto;
        margin-right: 20px;
    }
}
